@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.article {
    margin: -80px auto;
    max-width: 800px;
    text-align: var(--article-text-alignment);
}

@media screen and (max-width: 450px) {
    .article {
        margin: -30px auto;
    }
}

h1 {
    margin: 40px auto 30px auto;
}

a {
    color: var(--flavor);
    text-decoration: none;
}

.article p,
.article a,
.article p a,
ul li,
blockquote,
q {
    font-size: 1.15rem;
    font-weight: 300;
    margin: 5px 0px;
    line-height: 1.5em;
}

small {
    font-size: 0.9rem;
    color: var(--text-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
ul li {
    text-align: left;
}

ul li {
    margin: 10px 0px;
}

hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid var(--component-background);
}

pre,
code {
    font-family: 'Roboto Mono', monospace;
    max-width: 100%;
    overflow-x: auto;
    font-weight: 400;
}

pre {
    font-size: 0.9rem;
    background-color: var(--code-background);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--code-border);
    color: var(--code-text-block);
}

code {
    font-size: 0.8rem;
    background-color: var(--code-background);
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid var(--code-border);
    color: var(--code-text-single);
}

pre code {
    font-size: 0.9rem;
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--code-text-block);
}

img {
    display: block;
    max-width: 100%;
    max-height: 500px;
    height: auto;
    margin: 30px auto 15px auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--table-border);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid var(--table-border);
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--table-header-background);
    text-align: left;
}

iframe {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
}

blockquote {
    border-left: 4px solid var(--component-background);
    padding-left: 15px;
    color: var(--text-secondary);
    margin: 20px 0;
}