.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

a.card {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--btn-border);
    border-radius: 5px;
    overflow: hidden;
    transition: 0.2s;
    min-width: 300px;
    width: calc(33% - 10px);
}

a.card:hover {
    transform: scale(1.02);
}

.card img {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid var(--btn-border);
    background-color: var(--component-background);
}

.card p {
    position: relative;
    font-size: 0.9em;
    font-weight: 300;
    padding: 10px 30px;
    margin: 0;
    color: var(--text-primary);
}

@media screen and (max-width: 1025px) {
    a.card {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 674px) {
    a.card {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    a.card {
        width: 100%;
    }
}